body{
    margin: 0;
    padding: 0;
    /* font-family: amazon; */
    overflow-x: hidden;
    position: relative;

}

.navbar{
    background:#0f171e ;
    display:flex;
    justify-content: space-between;
    align-items:center;
    height: 4.5rem;
    width: 100%;
    position:fixed;
    z-index: 1000;
}
.navbar > a > img{
    margin-left: 5rem;
    cursor: pointer;
}


.nav_items a{
    text-decoration: none;
    color: rgba(242,244,246,.9);
}
.nav_items img{
    height:1.3rem;
    width:1.3rem;
    padding: 0 0.5rem;
}
.nav_items li{
    display: inline;
    padding: 0rem 1rem;   
}
#sign{
    padding-right: 3rem;
}
.nav_items i{
    padding-left: 10px;
    opacity: 0.4;
    font-size: 12px;
}
.nav_items a:hover{
    font-weight: normal;
    color: rgba(242,244,246,1);

}
.background_main{ 
    position: relative;   
    top:4rem;   
    width: 100%;
    height:75vh;
    z-index: -1;
    background: linear-gradient(to right,black 45% ,rgba(228, 235, 230,0) 50%), url(images/background.jpg);
}
.left_section{
    width: 35%;
    z-index: 1;
    color:white;
    padding-left: 5rem;
    padding-top: 0.7rem;
    overflow: auto;


}
.left_section h1{
    font-weight: normal;
   font-size: 2.5rem;

}
.left_section p{
    font-weight: normal;
    font-size: 21px;
    padding-bottom: 2rem;
}
.left_section button{
    cursor: pointer;
    background-color: #417fe4;
    border:none;
    color:white;
    border-radius: 2px;
    text-align: center;
    height: 4rem;
    width: 17rem;
    font-size: 17px;
}

.channels{
    position: relative;
    display: flex;
    justify-content: start;
    background-color:white;
    width: 100%;
    padding: 1rem 5rem;
    z-index: -1;
}
.first_half{
    width: 67vw;
    z-index: 1;
}
.first_half h1{
    font-weight: normal;
    font-size: 2.5rem;
} 
.first_half p{
    font-weight: normal;
    font-size: 1.5rem;
}
.second_half{
    padding-left:7rem;
    display:grid;
    grid-template-columns: repeat(3, minmax(50px, 200px));
    grid-gap: 1rem;
    align-items: start;
    width: 100%;
    z-index: 1;
}
.second_half > img{
    width: 100%;
}
.benefits{
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;    
    /* z-index: -1; */

}

.benefits_half{
    width: 40%;
    position: absolute;
    /* z-index: 1; */
    color:white;
    padding: 1rem 5rem;
}
.benefits_half h1{
    font-weight: normal;
    font-size: 2.5rem;
}
.benefits_half p{
    font-weight: normal;
    font-size: 21px;
    padding-bottom: 2rem;
}
.benefits_half button{
    cursor: pointer;
    background-color: #417fe4;
    border:none;
    color:white;
    border-radius: 2px;
    text-align: center;
    height: 4rem;
    width: 17rem;
    font-size: 17px;
}
.tv_stick{
    /* position: absolute; */
    top: -8rem;

}

.stick_sec-half{
    width:38%;
    position: relative;
    color: white;
    top: -39rem;
    right: -46rem;

}
.stick_sec-half h1{
    font-weight: normal;
    font-size: 2.5rem;
}
.stick_sec-half p{
    font-weight: normal;
    font-size: 21px;
    padding-bottom: 2rem;
}
.stick_sec-half button{
    cursor: pointer;
    background-color: #417fe4;
    border:none;
    color:white;
    border-radius: 2px;
    text-align: center;
    height: 4rem;
    width: 17rem;
    font-size: 17px;
}

.multiple{
    position: relative;
    top: -20rem;
    display:flex;
    align-content:center;
    justify-content: space-evenly;
    padding:0 4rem;
}
.watch_everywhere,.data,.download{
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-content: center;
    padding: 0 3rem;
    
}

.watch_everywhere h2,.download h2,.data h2{
    font-size:36px;
    text-align:center;

}
.watch_everywhere p,.download p,.data p{
    font-size:21px;
    text-align:center;
    position:relative;
    top: -43px;

}

.watch_everywhere img,.download img,.data img{
    padding: 0 2rem;


}
.watch_everywhere img{
    width: 82%;
}
.download img{
    width: 87%;
}
.data img{
    width: 100%;
}
.family_friendly{
    display: flex;
    justify-content: flex-start;
    position: relative;
    width: 100%;
    top: -20rem ;   
}
.family_half{
    width:38%;
    color:white ;
    position: absolute;
    padding: 2rem 4rem;
}
.family_half h1{
    font-size:2.5rem;


}
.family_half p{
    font-size:21px;
    padding-bottom: 2rem;
}
.family_half button{
    cursor: pointer;
    background-color: #417fe4;
    border:none;
    color:white;
    border-radius: 2px;
    text-align: center;
    height: 4rem;
    width: 17rem;
    font-size: 17px;
}
footer{
    position:relative;
    top: -28rem;
    background-color:#0f171e;
    color:rgba( 193, 201, 196);
    text-align: center;
    padding: 2rem;
    font-size: 15px;

}
footer a{
    text-decoration: none;
}